<%- include('partials/header.ejs');-%>
<br><br>
<br>
<div class=" mainy ui main text container segment">
    <div class="ui huge header">New Blog</div>
<form class="ui form" method="POST" action="/blogs">
    <div class="field">
        <label>Title</label>
        <input type="text" name="blog[title]">
    </div>
    
    <div class="field">
        <label>image</label>
        <input type="text" name="blog[image]">
    </div>

    <div class="field">
        <label>Blog Content</label>
        <textarea name="blog[body]" id="" cols="1" rows="10"></textarea>
    </div>
    <div class="field "><input class="ui button samall inverted brown" type="submit"></div>
</form>
</div>
<%- include('partials/footer.ejs');-%>